/* Generics  */
.header-txt{
    font-size: 14px;
}



/* Utils  */
#logo{
    width: 50px;
}

.my-fs{
    font-size: 12px;
}

.my-bg{
    background-color: #f7f7f7;
}

.my-hover:hover button{
    background-color: rgb(238, 238, 238);
}

.my-txt-area{
    height: 100px;
    resize: none;
}
