/* Generics  */
.header-txt{
    font-size: 14px;
}
/* Utils  */
#logo{
    width: 50px;
}

.my-fs{
    font-size: 12px;
}

.my-bg{
    background-color: #f7f7f7;
}

.my-hover:hover button{
    background-color: rgb(238, 238, 238);
}

.my-txt-area{
    height: 100px;
    resize: none;
}

.white-filter{
    filter: invert(1);
}

/* Main section  */
.my-border>li{
    border: none;
    padding-left: 0.5rem;
}

.my-button{
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

